/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
    list-style: none;
    display: flex;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    flex-wrap: wrap;
}

.tab-title {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    color: #999;
    text-align: center;
    position: relative;
    flex: 1;
    flex-wrap: wrap;
}

.tab-title {
    border-bottom: 2px solid #d0d0d0;
}

.tab-title a {
    color: #d0d0d0;
    text-decoration: none;
    white-space: nowrap;
}

.tab-title.active, .tab-title:hover{
    border-bottom: 2px solid #2196F3;
}

.tab-title.active a, .tab-title:hover a {
    color: #2196F3;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* 纵向排版 */
form, .column-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.column-container {
    margin-top: -1em;
}

/* 横向排版 */
.input-row, .select-row {
    display: flex;
    align-items: center;
}

.mobile-input, .live-select {
    flex: 1;
}

.mobile-input {
    margin-left: 10px;
}

.live-select {
    margin-right: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea, select{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover:not(:disabled) {
    background-color: #1E88E5;
}

button:disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
}

/* 登录 */
.area-code-input {
    width: 50px;
}

.sign-text{
    display: none;
    color: #999;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 直播送礼 */
.transfer-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* 翻牌列表 */
.answer-element, .album-element {
    padding: 10px;
    margin: 10px 0;
    background-color: #f8f8f8;
    border-radius: 20px;
}

.answer-element p, .album-element p {
    margin: 5px 0;
}

.answer-element video, .album-element video, .album-element img {
    width: 100%;
}

.answer-time-status, .album-time-status {
    color: #d0d0d0;
    display: flex;
}

.answer-time-status .answer-status {
    margin-left: auto;
}

.answer-time-status .answer-status a {
    color: #888;
}

.answer-icon {
    display: flex;
}

.answer-icon p {
    border-radius: 20px;
    padding: 4px 10px;
    background-color: #87CEEB;
    margin: 5px 10px 15px 0px;
}

.answer-reply-info {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.answer-reply-info img {
    margin-left: 10px;
    max-height: 1em;
}

.answer-reply-time {
    color: #d0d0d0;
    font-size: 14px;
    margin-bottom: 10px;
}

.answer-content {
    margin: 10px 0;
}

.answer-no-more {
    color: #d0d0d0;
    margin: 5px 0;
}

.page-button {
    background: none!important;
    border: none;
    color: #2196F3;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

.page-button[disabled] {
    color: gray;
}

/* 免责 */
.disclaimer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: #888;
}

.disclaimer a{
    color: #d0d0d0;
}